# PLUGIN_TITLE [![Build Status][ci-img]][ci]

[CarteBlanche] plugin PLUGIN_DESC.

[CarteBlanche]: https://github.com/pure-ui/carte-blanche
[ci-img]:  https://travis-ci.org/GITHUB_NAME/PLUGIN_NAME.svg
[ci]:      https://travis-ci.org/GITHUB_NAME/PLUGIN_NAME

## Usage

```js
var PLUGIN_NAME = require('PLUGIN_NAME')

plugins: [
  new PLUGIN_NAME({ /* …options… */ })
]
```

## Options

- `someVariable`: (default: false) Changes something in the plugin.

  ```JS
  new PLUGIN_NAME({
    someVariable: true
  })
  ```
